/* Header */
header {
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
}
#home header {
    background:  no-repeat lightgrey url(images/cliff_ocean.jpg);
    background-size: 100%;
}
#cliffs header {
  background: no-repeat lightgrey url(images/forest_cliff.jpg);
  background-size: 100%;
}
#activities header {
  background: no-repeat lightgrey url(images/runfly.jpg);
  background-size: 100%;
}
#contact header {
  background: no-repeat lightgrey url(images/cliff_rock.jpg);
  background-size: 100%;
}

.main-header {
    background-color:rgb(255, 255, 255, 0.8) ;
    /* width: 700px; */
    /* margin: 2em auto 0 auto; */
    min-height: 100px;
    /*height: 100px; */
}
.main-header .logo img {
    width: 100px;
    height: 100px;
    margin: 0 2em 0 0;
    float: left;
}

/* Navigation */
.main-menu.navbar.navbar-expand-sm {
    margin-left: 227px;
    font-weight: 400;
    height:auto;
    width:auto;
}
.nav-item {
    list-style-type: none;
    display: inline-block;
    /* float: left; */
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
}
.nav-link {
    text-decoration: none;
    color: #888;
}
.nav-link:hover {
    color: #9ed034;
}
.nav-item.active {
    background: #9ed034;
    border: none;
}
.nav-item.active .nav-link {
    color: #fff;
}
button {
    margin-left:6em;

}

/* Main */
main {
    padding: 3em 6em 3em 5.5em;
    margin: 2em 0;
    font-family:Arial, Helvetica, sans-serif;
}
main h1 {
    font-size: 2.5em;
    padding-bottom: 0.5em;
    color: #9ed034;
}
main h2 {
    font-size: 1.7em;
}

/* Partners */
section {
    background-color: #4288C3;
}
section #partners {  
    width: auto;
    padding: 2em 0 2em 0;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
section #partners .partner {
    list-style: none;
    text-align: center;
    margin: 0.75em;
    padding: 1.3em 1.5em;
    background-color: #fff;
    /* border-radius: 50%; */
}
section #partners .partner img {
    max-width:8rem;
    height:8rem;
}

/* Footer */
footer {
    width: 100%;
    height: 155px;
    padding-bottom: 1em;
    background-color: #ecfab8;
}
footer #nondisclaimer .copy {
    padding: 3.5em 3.5em 3.5em 13em;
    float: left;
    font-size: 0.9em;
}
footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}
footer #disclaimer {
    clear: both;
    background-color: #ecfab8;
}

footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 3em;
    height:3em;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}
footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
   
}
footer #nondisclaimer .social .fa-facebook {
    background: #3B5998;
    color: white;
}
    
footer #nondisclaimer .social .fa-twitter {
    background: #55ACEE;
    color: white;
}

footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}


/* cliffs page */
#cliffspage {
  padding: 60px;
}
#cliffspage .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 5em 0 5em;
}
#cliffspage .column {
  flex: 50%;
  max-width: 40%;
  margin:2em;
}
#cliffspage .column figure img {
  vertical-align: middle;
  width: 100%;
  margin-bottom: 30px;
}
#cliffspage figure figcaption {
  background-color: #852b1b;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
/* activities page */
#activitiespage {
  padding: 60px;
}
table {
  width: 1000px;
  margin: 4em auto 0 auto;
}
caption {
  background: #852b1b;
  height: 40px;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 1em;
}
thead {
  background: #bde1ff;
}
tbody,
tfoot {
  background: #eeffe6;
  text-align: center;
}
th,
td {
  width: 225px;
  height: 75px;
  vertical-align: middle;
  border: solid 1px #852b1b;
}
.highlight {
  background: #9ed034;
  color: white;
}
thead tr:first-child {
  font-weight: bold;
  background: #bde1ff;
}
tbody tr td:first-child {
  font-weight: bold;
  background: #bde1ff;
  color: black;
}
tfoot tr td:first-child {
  font-weight: bold;
  background: #bde1ff;
  color: black;
}
thead tr th:first-child {
  width: 125px;
  height: 50px;
  background: #4977d1;
  color: #fff;
}

#activities main #displaySelected {
  visibility:hidden;
  margin:0 auto;
  width:600px;
  border:2px solid #9ed034;
  padding:0.75em;
}
#result, #sendinfo {
  display:inline-block;
  margin:0;
}
#result {
  min-height:50px;
  width:300px;
  padding:0;
}
#result h4 {
  margin-bottom:1em;
  font-size:1.15em;
}
#sendinfo input[type="email"] {
  width:200px;
}
/* contact page */
#contactpage {
  padding: 60px;
}
#contactpage label {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
}
.contactinfo {
  margin: 30px 0 15px 0;
}
.contactinfo .email {
  margin: 10px 0 15px 0;
}
span {
  font-family: Arial, Helvetica, sans-serif;
}
span:first-child {
  font-weight: bold;
}
#formcontainer {
  display: flex;
  flex-direction: column;
  width: 530px;
}
.textbox {
  display: block;
  padding-left: 20px;
  white-space: pre-line;
}

.radios,
.selectmenu,
.commentbox {
  display: block;
  padding-left: 20px;
  padding-top: 10px;
}
.selectmenu select {
  margin-left: 20px;
  width: 120px;
  height: 20px;
  text-align: center;
}
form .textbox input {
  width: 500px;
  margin-bottom: 15px;
}

legend {
  color: #4977d1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width:auto;
}
fieldset {
  border: solid 2px #9ed034;
  padding-left: 15px;
}
.textbox input[type="text"],
.textbox input[type="email"] {
  width: 500px;
  height: 25px;
}
input[type="radio"] {
  display: inline;
}
.commentbox {
  display: block;
}
textarea {
  display: block;
  width: 500px;
  height: 200px;
}
#button {
  text-align: right;
  margin-top: 10px;
}
/* #submit { */
  /* background-color: #4977d1;  */
  /* border-style: hidden;
  color: #fff;
  height: 35px;
  width: 120px;
  font-weight: bold;
} */
.randomcode {
  padding-top: 20px;
  text-align: right;
}
#codeentered {
  width: 200px;
  height: 25px;
  margin: 16px;
}
#codes {
  display: inline-flex;
  text-align: center;
  background-color: lightgrey;
  padding: 8px;
}



/* ACTIVATE BELOW WHEN TESTING NAVIGATION AND OTHERS FOR RWD */

/* Media Queries */
@media (max-width: 768px) {
    footer #nondisclaimer .copy {
        padding: 3.5em 0em 3.5em 0em;
        text-align: center;
        float: none;
        font-size: 0.9em;
      }
      footer #nondisclaimer .social {
        padding: 2.5em 0;
        margin: 0;
        text-align: center;
        float: none;
      }
}

@media (max-width: 992px) {
    .logo img {
        position: relative;
        bottom: 8px;
    }
    .main-menu {
        width: 200px;
        background-color:rgb(255, 255, 255);
        position: absolute;
        right: 1.7em;
      }
      .main-menu ul li {
        border-bottom: 1px solid rgba(202, 204, 202, 0.6);
      }
      main {
        padding: 3em 1em 3em 1em;
        margin: 0;
      }
      #home .main-col-content {
        padding: 25px;
        min-height: 450px;
        margin-top: 1em;
      }
} 